<!DOCTYPE html>
<html>
<head>
    <title>Mockup Maker</title>
</head>
<body>
    <h1>Mockup Maker</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="collection_name">Collection Name:</label><br>
        <input type="text" name="collection_name" required><br><br>

        <label for="design">Select your design file (PNG):</label><br>
        <input type="file" name="design" accept="image/png" required><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>